body {
    font-family: Arial, sans-serif;
    background-color: #7d8285;
    text-align: center;
  }
  
  h1 {
    color: #030707;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .suco {
    margin: 20px;
    padding: 20px;
    background-color: rgb(167, 162, 162);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .suco img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .suco h2 {
    color: #008080;
  }
  
  .suco p {
    color: #333;
  }
 
  footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
